* {
    margin: 0px;
    padding: 0px;
}
  
::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    background: rgb(198, 198, 198);        /* color of the tracking area */
    border-radius: 20px;
}
  
::-webkit-scrollbar-thumb {
    background-color: rgb(163, 163, 163);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}

body {
    color: black;
    background: white;
    user-select: none;
    overflow-x: hidden;
}

button {
    color: black;
}

#bloco1 {
    width: 27vw;
    margin-left: 0.5vw;
}

#atributos {
    position: relative;
    text-align: left;
    font-size: 3.75vw;
}

#roda_atb {
    position: relative;
    height: 26vw;
    margin: 0px;
    padding: 0px;
}

#atributos_texto {
    position: absolute;
    padding: 0px;
    margin: 0px;
}

#agi {
    position: relative;
    display: inline;
    left: 6.5vw;
    top: 1.75vw;
}

#for {
    position: relative;
    display: inline;
    top: 7.25vw;
    left: 4vw;
}

#int {
    position: relative;
    display: inline;
    top: 7.25vw;
    left: 9vw;
}

#pre {
    position: relative;
    display: inline;
    top: 17vw;
    left: 3.5vw;
}

#vig {
    position: relative;
    display: inline;
    top: 17vw;
    left: 9.5vw;
}

h1 {
    font-family: Andale Mono, monospace;
    text-align: center;
    font-size: 2.625vw;
    color: black;
    margin-bottom: 1vw;
}

#informacoes {
    position: relative;
    text-align: center;
    font-size: 2.205vw;
    font-family: Andale Mono, monospace;
    margin-top: 1vw;
}

#nex {
    margin-right: 5px;
}

#defesa {
    margin-left: 5px;
}

#pontos_estatisticos {
    font-weight: bold;
    position: relative;
    font-size: 2.1vw;
    font-family: Andale Mono, monospace;
    margin-top: 2.625vw;
}

#pv {
    margin-left: 5.25vw;
}

#pe {
    padding-top: 0.7875vw;
    margin-left: 5.25vw;
}
#san {
    padding-top: 0.7875vw;
    padding-bottom: 0.7875vw;
    margin-left: 5.25vw;
}

.input_pte {
    position: realtive;
    width: 2.625vw;
    height: 2.625vw;
    background: white;
    font-size: 1.8375vw;
    resize: none;
    text-align: center;
    outline: none;
    float: right;
    padding: 0;
    margin-right: 5.25vw;
}

::-webkit-input-placeholder {
    font-size: 1.05vw;
    font-family: courier new, monospace;
}

#btns_pte_div {
    text-align: center;
}

.btn_pte {
    position: relative;
    width: 6.3vw;
    height: 2.1vw;
    background: white;
    font-size: 1.575vw;
    font-family: Andale Mono, monospace;
    font-weight: 900;
    margin-top: 0.2625vw;
    margin-left: 0.525vw;
    margin-right: 0.525vw;
    margin-bottom: 0.525vw;
    padding: 0;
}

#bloco2 {
    position: absolute;
    left: 28vw;
    font-family: Andale Mono, monospace;
    top: 3.625vw;
    width: 71vw;
    display: flex;
    flex-direction: row;
    border-left: 1px solid black;
}

#secao_ppr {
    display: flex;
}

.secoes_bloco2 {
    width: 17.75vw;
}

.label_habilidades:hover {
    color: red;
}

.text_area {
    resize: none;
    outline: none;
    text-align: center;
    margin-top: 1vw;
    overflow-x: hidden;
}

.insert_content {
    text-align: center;
    margin-top: 1vw;
    overflow-x: hidden;
    overflow-y: scroll;
}

#secao_anotacoes {
    text-align: center;
    font-size: 2vw;
    display: flex;
    border-right: 1px solid black;
    flex-direction: column
}

#infos {
    width: 100%;
    height: 100%;
    font-size: 2vw;
    text-align: center;
}

#text_infos {
    text-align: center;
    width: 95%;
    height: 39vh;
    font-size: 2.55vh;
    margin-bottom: 2px;
    border: none;
}

#descricao {
    visibility: hidden;
    font-family: andale mono, 'Courier New', Courier, monospace;
    font-weight: bold;
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60vh;
    width: 60vw;
    background-color: whitesmoke;
    font-size: 3vh;
    text-align: center;
    z-index: 3;
    border-radius: 10px;
}

.xpopup {
    width: 2vw;
    height: 2vw;
    position: absolute;
    top: 5px;
    right: 15px;
}

.line {
  position: absolute;
  width: 20px;
  height: 5px;
  background-color: rgb(244, 66, 12);
  border-radius: 5px;
}

.xpopup:hover .line {
    background-color: rgb(209, 52, 52);
  }

.line:first-child {
  transform: rotate(45deg);
  top: 45%;
}

.line:last-child {
  transform: rotate(135deg);
  top: 45%;
}
  
#text_desc {
    text-align: left;
    width: 95%;
    height: 50vh;
    font-size: 3vh;
    margin-bottom: 2px;
    border: none;
    padding: 1vw;
}


#pericias {
    font-size: 2vw;
    border-right: 1px solid black;
    text-align: center;
}

#selecionarPericias {
    height: 2vw;
    font-size: 0.75vw;
    font-family: andale mono, 'Courier New', Courier, monospace;
    font-weight: bold;
}

#text_pericias {
    width: 95%;
    height: 66vh;
    font-size: 1.35vw;
    border: none;
}

#rolar_dados {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid black;
    height: 19vh;
}

.inp_rolar_dados {
    display: inline-block;
    padding: 0.75vw;
    border-radius: 1.5vw;
    font-family: andale mono, 'Courier New', Courier, monospace;
    font-size: 2vw;
    font-weight: bold;
    outline: none;
    width: 30%;
    height: 20%;
}

#btn_rolar_dados {
    font-size: 1.5vw;
    width: 50%;
    background-color: white;
    border: 1px solid black;
    border-radius: 10vw;
}

#resultado_rd {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 50vw;
    font-size: 30px;
    font-weight: bold;
    font-family: andale mono, 'Courier New', Courier, monospace;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid black;
    background-color: white;
    z-index: 3;
    visibility: hidden;
}

#rituais {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid black
}

#text_rituais {
    width: 95%;
    height: 39vh;
    font-size: 2vh;
    border: none;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1vh;
}

#poderes {
    font-size: 2vw;
    text-align: center;
}

#text_poderes {
    width: 95%;
    height: 39vh;
    font-size: 2vh;
    margin-bottom: 2px;
    border: none;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;    
}

#secao2 {
    width: 17.75vw;
    text-align: center;
    font-size: 2vw;
    display: flex;
    border-right: 1px solid black;
    flex-direction: column
}

#secao4 {
    text-align: center;
    font-size: 2vw;
    display: flex;
    border-right: 1px solid black;
    flex-direction: column
}

#inventario {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid black;
}

#text_inventario {
    width: 95%;
    height: 39vh;
    font-size: 2vh;
    border: none;
}

#secao_anotacoes {
    width: 17.75vw;
}

#anotacoes {
    width: 100%;
}

#text_anotacoes {
    width: 95%;
    height: 86vh;
    font-size: 1vw;
    text-align: left;
}

.btns_secao4 {
    background: white;
    font-family: Andale mono, monospace;
    border: 1px solid black;
    height: 2vw;
    font-size: 1.2vw;
    float: right;
    margin-right: 2.5%;
    text-align: left;
    padding-left: 0.25vw;
    padding-right: 0.25vw;
}

#label_inventario {
    margin-left: 2.5%;
}

#label_anotacoes {
    float: left;
    margin-left: 2.5%;
}

#escurecer_tela {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background: #00008b;
    visibility: hidden;
    opacity: 30%;
    z-index: 1;
}

#bloco_carregador_de_tela {
    position: fixed;
    height: clamp(4vw, 9vw, 14.4vw);
    width: 70vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: linear-gradient(45deg, #3B3FF7, #3BA3F7 90%);
    border-radius: 100px;
    z-index: 2;
    visibility: hidden;
}

#texto {
    color: white;
    font-size: clamp(3vw, 6vw, 9vw);
    text-align: center;
    font-family: andale mono, monospace;
}

.ponto {
    display: inline;
    padding: 0px;
}

#ponto_1 {
    animation: desaparece1 1s linear infinite;
}

#ponto_2 {
    animation: desaparece2 1s linear infinite;
    opacity: 75%;
}

#ponto_3 {
    animation: desaparece3 1s linear infinite;
    opacity: 50%;
}

@keyframes desaparece1 {
    100% {
        opacity: 0%;
    }
}

@keyframes desaparece2 {
    0% {
        opacity: 75%;
    }

    35% {
        opacity: 100%;
    }

    36% {
        opacity: 0%;
    }

    100% {
        opacity: 65%;
    }
}

@keyframes desaparece3 {
    0% {
        opacity: 50%;
    }

    60% {
        opacity: 100%;
    }

    61% {
        opacity: 0%;
    }

    100% {
        opacity: 40%;
    }

}

@media screen and (max-width: 1279px) {
    #bloco1 {
        width: 50vw;
        height: 84vw;
        border-right: 1px solid black;
    }

    #roda_atb {
        height: 49vw;
    }
    
    #atributos {
        font-size: 7.07vw;
    }

    #agi {
        position: relative;
        display: inline;
        left: 12.25vw;
        top: 3.3vw;
    }
    
    #for {
        position: relative;
        display: inline;
        top: 13.7vw;
        left: 7.5vw;
    }
    
    #int {
        position: relative;
        display: inline;
        top: 13.7vw;
        left: 17vw;
    }
    
    #pre {
        position: relative;
        display: inline;
        top: 32.04vw;
        left: 6.6vw;
    }
    
    #vig {
        position: relative;
        display: inline;
        top: 32.04vw;
        left: 17.9vw;
    }

    #informacoes {
        font-size: 3.7vw;
    }

    #pontos_estatisticos {
        font-size: 5vw;
    }

    .input_pte {
        height: 5.5vw;
        width: 5.5vw;
    }

    .btn_pte {
        width: 12vw;
        height: 4vw;
        font-size: 3.1vw;
        border: 1px solid black;
    }

    ::-webkit-input-placeholder {
        font-size: 2.2vw;
    }

    #bloco2 {
        position: relative;
        left: 0;
        width: 100%;
        top: 1vw;
        display: block;
        border-top: 1px solid black;
    }

    #secao_ppr {
        display: flex;
        flex-direction: row;
    }

    #secao_anotacoes {
        position: absolute;
        display: block;
        left: 50.5vw;
        top: -85vw;
        width: 48vw;
        margin: 0;
    }

    #anotacoes {
        font-size: 4vw;
        width: 48vw;
        height: 84vw;
    }

    #text_anotacoes {
        height: 35.15vw;
        font-size: 3vw;
        height: 77vw;
    }

    .btns_secao4 {
        margin-top: 1.2vw;
        height: 3.1vw;
        font-size: 3vw;
    }

    #pericias {
        width: 33.333vw;
        border: none;
        font-size: 4vw;
        border-right: 1px solid black;
    }

    #selecionarPericias {
        height: auto;
        font-size: 2.5vw;
    }

    #rolar_dados {
        height: 10vh;
    }

    .inp_rolar_dados {
        font-size: 2vh;
        padding: 1vh;
        border-radius: 10vh;
    }

    #btn_rolar_dados {
        font-size: 1.5vh;
        padding: 0.5vh;
        border-radius: 10vh;
        font-weight: bold;
    }

    #text_pericias {
        font-size: 3.4vw;
        height: 37vh;
    }

    #secao2 {
        flex-direction: row;
        width: 66.665vw;
    }

    #poderes {
        width: 33.333vw;
        border: none;
        font-size: 4vw;
    }

    #text_poderes {
        font-size: 3vw;
        height: 50vh;
    }

    #rituais {
        width: 33.333vw;
        border: none;
        font-size: 4vw;
        border-right: 1px solid black;
    }

    #text_rituais {
        font-size: 3vw;
        height: 50vh;
    }

    #secao4 {
        display: flex;
        flex-direction: row;
        width: 100vw;
        border-left: none;
        border-top: 1px solid black;
    }

    #inventario {
        font-size: 4vw;
        border-right: 1px solid black;
    }

    #text_inventario {
        font-size: 2.1vh;
    }
    #infos {
        font-size: 4vw;
    }

    #text_infos {
        font-size: 2.5vh;
    }

}

@media screen and (max-width: 600px) {
    #text_pericias {
        height: 26vh;
        font-size: 3vw;
    }
    #rolar_dados {
        height: 7vh;
    }
    .inp_rolar_dados {
        width: 25%;
        font-size: 2vh;
        padding: 0.5vh;
        border-radius: 10vh;
    }
    #btn_rolar_dados {
        font-size: 1.5vh;
        padding: 0.25vh;
        border-radius: 10vh;
    }
    #text_rituais {
        height: 35vh;
        font-size: 3vw;
    }
    #text_poderes {
        height: 35vh;
        font-size: 3vw;
    }
    #text_inventario {
        height: 18vh;
        font-size: 3vw;
    }
    #text_infos {
        height: 18vh;
        font-size: 3vw;
    }
    #resultado_rd {
        font-size: 20px;
    }
}    
