<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Ficha {{ nome }}</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index-css.css') }}">
    <script src="{{ url_for('static', filename='js/scipr_index.js') }}" defer></script>
</head>
<body>
    <div id="bloco_carregador_de_tela">
        <div id="texto">carregando
            <div id="ponto_1" class="ponto">.</div>
            <div id="ponto_2" class="ponto">.</div>
            <div id="ponto_3" class="ponto">.</div>
        </div>
    </div>

    <div id="escurecer_tela"></div>

    <h1>Ficha {{ nome }}</h1>

    <div id="bloco1">

    <div id="atributos">
        <div id="atributos_texto">
            <div id="for">1</div>
            <div id="pre">1</div>
            <div id="agi">1</div>
            <div id="vig">1</div>
            <div id="int">1</div>
        </div>
        <img draggable="false" id="roda_atb" src="{{ url_for('static', filename='ATRIVUTOS.png') }}">
    </div>
    <div id="informacoes">
        <b id="nex">Nex: 00%</b>
        <b id="defesa">Defesa: 00</b>
    </div>

    <div id="engloba_pte">
        <div id="pontos_estatisticos">
        <div id="pv">
            <label id="pv_val">PV: 000/000</label>
            <textarea maxlength="2" placeholder="DanoCura" cols="4" id="dano_pv" class="input_pte"></textarea>
        </div>
        <div id="pe">
            <label id="pe_val">PE: 000/000</label>
            <textarea maxlength="2" placeholder="DanoCura" cols="4" id="dano_pe" class="input_pte"></textarea>
        </div>
        <div id="san">
            <label id="sn_val">SN: 000/000</label>
            <textarea maxlength="2" placeholder="DanoCura" cols="4" id="dano_sn" class="input_pte"></textarea>
        </div>
        </div>

        <div id="btns_pte_div">
               <button class="btn_pte" id="btn_pte_soma">cura</button>
               <button class="btn_pte" id="btn_pte_subtrai">dano</button>
        </div>

    </div>
    </div>

    <div id="bloco2">
        <div id="secao_ppr">
        <div id="pericias" class="secoes_bloco2">
            Perícias:
            <textarea id="text_pericias" class="text_area" readonly cols="12">lorem ipsum</textarea>
        </div>

        <div id="secao2_3">
            <div id="rituais" class="secoes_bloco2">
                Rituais:
                <textarea id="text_rituais" class="text_area" readonly cols="12">lorem ipsum
                </textarea>
            </div>

            <div id="poderes" class="secoes_bloco2">
                Poderes:
                <textarea id="text_poderes" class="text_area" readonly cols="12">lorem ipsum
                </textarea>
            </div>
        </div>
        </div>

        <div id="secao4" class="secoes_bloco2">
            <div id="anotacoes">
                <label id="label_anotacoes">Anotações:</label><button id="btn_anotacoes" class="btns_secao4">salvar</button>
                <textarea id="text_anotacoes" class="text_area"></textarea>
            </div>

            <div id="inventario">
                <label id="label_inventario">Inventário:</label><button id="btn_atualiza_inv" class="btns_secao4">atualizar</button>
                <textarea id="text_inventario" class="text_area" readonly cols="12">lorem ipsum</textarea>
            </div>

        </div>
    </div>
</body>
</html>


