<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Ficha {{ nome }}</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index-css.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='simbolomedo.png') }}">
    <script src="{{ url_for('static', filename='js/scipr_index.js') }}" defer></script>
</head>
<body>
    <div id="bloco_carregador_de_tela">
        <div id="texto">carregando
            <div id="ponto_1" class="ponto">.</div>
            <div id="ponto_2" class="ponto">.</div>
            <div id="ponto_3" class="ponto">.</div>
        </div>
    </div>

    <div id="descricao" class="secoes_bloco2">
        Descrição:
        <div class="xpopup" id="xdesc">
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <textarea id="text_desc" class="text_area" readonly cols="12"></textarea>
    </div>

    <div id="resultado_rd"><span id="span_rt_rd"></span><span id="span_num_rd"></span>
        <div class="xpopup" id="xrd">
          <div class="line"></div>
          <div class="line"></div>
        </div></div>

    <div id="escurecer_tela"></div>

    <h1>Ficha {{ nome }}</h1>

    <div id="bloco1">

    <div id="atributos">
        <div id="atributos_texto">
            <div id="for" class="atb">1</div>
            <div id="pre" class="atb">1</div>
            <div id="agi" class="atb">1</div>
            <div id="vig" class="atb">1</div>
            <div id="int" class="atb">1</div>
        </div>
        <img draggable="false" id="roda_atb" src="{{ url_for('static', filename='ATRIVUTOS.png') }}">
    </div>
    <div id="informacoes">
        <b id="nex">Nex: 00%</b>
        <b id="defesa">Defesa: 00</b>
    </div>

    <div id="engloba_pte">
        <div id="pontos_estatisticos">
        <div id="pv">
            <label id="pv_val">PV: 000/000</label>
            <textarea maxlength="2" placeholder="DanoCura" cols="4" id="dano_pv" class="input_pte"></textarea>
        </div>
        <div id="pe">
            <label id="pe_val">PE: 000/000</label>
            <textarea maxlength="2" placeholder="DanoCura" cols="4" id="dano_pe" class="input_pte"></textarea>
        </div>
        <div id="san">
            <label id="sn_val">SN: 000/000</label>
            <textarea maxlength="2" placeholder="DanoCura" cols="4" id="dano_sn" class="input_pte"></textarea>
        </div>
        </div>

        <div id="btns_pte_div">
               <button class="btn_pte" id="btn_pte_soma">cura</button>
               <button class="btn_pte" id="btn_pte_subtrai">dano</button>
        </div>

    </div>
    </div>

    <div id="bloco2">
        <div id="secao_ppr">
        <div id="pericias" class="secoes_bloco2">Perícias:<select id="selecionarPericias" onchange="atualizaPericias()">
                <option value="todos" selected>Todos</option>
                <option value="nt">Não treinado</option>
                <option value="t">Treinado</option>
                <option value="v">Veterano</option>
                <option value="e">Expert</option>
            </select>
            <textarea id="text_pericias" class="text_area" readonly cols="12">lorem ipsum</textarea>
            <div id="rolar_dados">
                <div>
                    <input class="inp_rolar_dados" placeholder="Dados" id="num_dados">
                    <input class="inp_rolar_dados" placeholder="Bônus" id="mod_dados"><br>
                </div>
                <button id="btn_rolar_dados">Rolar</button>
            </div>
        </div>

        <div id="secao2">
            <div id="rituais" class="secoes_bloco2">
                Rituais:
                <div id="text_rituais" class="insert_content">
                </div>
            </div>

            <div id="poderes" class="secoes_bloco2">
                Poderes:
                <div id="text_poderes" class="insert_content">lorem ipsum</div>
            </div>
        </div>
        </div>

        <div id="secao4" class="secoes_bloco2">
            <div id="inventario" class="secoes_bloco2">
                <label id="label_inventario">Inventário:</label>
                <textarea id="text_inventario" class="text_area" readonly cols="12">lorem ipsum</textarea>
            </div>

            <div id="infos" class="secoes_bloco2">
                Info:
                <textarea id="text_infos" class="text_area" readonly cols="12">lorem ipsum</textarea>
            </div>
        </div>
        <div id="secao_anotacoes">
            <div id="anotacoes">
                <label id="label_anotacoes">Anotações:</label><button id="btn_anotacoes" class="btns_secao4">salvar</button>
                <textarea id="text_anotacoes" class="text_area"></textarea>
            </div>
        </div>
    </div>
</body>
</html>


